
.app .login{
    max-width: 40%;
    margin: auto;
    border: 1px solid #dedede;
    padding: 15px;
    background-color: #ff000000;
    color: #737373;
    font-family: verdana;
}

.menu{
	background-color: green;
}


.main{
	background-color: blue;
}