.form{
	width: 100%;
	padding: 10px;
	display: inline-block;
	margin: auto;
}

.form label{
	margin-bottom: .5rem;
    max-width: 600px;
    display: block;
    padding: 10px 10px;
    border-radius: 5px;
    border: solid #80808063;

}

.form label p{
	width: 100%;
	justify-content: center;
}
.form label input{
	    width: 100%;
	    border-style: none;
	    padding: 10px;

}

.ms-error{
	color: red;
	padding: 5px;
}