.form{
	width: 100%;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
}

.form label{
	margin-bottom: 0px;
    display: block;
    padding: 5px 5px;

}
.form label p{
	margin: 0px;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
}
