.container{
    background-color: rgba(76, 150,24,0);
    color: white;
    border-bottom: solid 1px #ccc;
    padding: 10px;
    margin-bottom: 5px;
    height: 60px;
}
.container .subcontainer{
    width: 800px;
    margin: 0 auto;
}
.container .subcontainer div{
    display: inline-block;
    vertical-align: middle;
}
.logo{
color: #1e7e34;
    font-weight: bolder;
    font-size: 22px;
    width: 40%;
    float: left;
}
.logo img{
    height: 40px;
}
.nav{
    background-color: transparent;
    list-style: none;
    float: right;
}
.search{
    width: 500px;
}


.actions{
    padding: 0px 20px;
}


.actions .button{
}

.btn-white{
    color: white;
}
.btn-color1{
    color: green;
}
button{
    background-color: transparent;
    border: none;
}

.new-item-panel-container{
    background-color: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

.new-item-panel{
    width: 300px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}
.new-item-panel p{
    padding: 5px 0;
}